.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d4f8d4; /* Light green background */
    width: 100vw;
}

.register-form {
    background-color: white;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;  /* Half of the width */
    min-height: 600px;
    max-width: 600px;
    box-sizing: border-box; /* Added this so padding does not affect the width */
}

h1 {
    text-align: center;
    color: #333;
    font-size: 32px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

input {
    width: 100%; /* Set input field width to 100% */
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
    box-sizing: border-box; /* Includes padding in the width */
}

input:focus {
    outline: none;
    border-color: #66cc66;
}

.register-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%; /* Button width 100% */
    font-size: 18px;
}

.register-button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #4CAF50;
    font-weight: bold;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
